h1, h2, h3, h4, h5, h6 {
  padding: 1rem;
  text-decoration-line: underline;
  margin: 2rem;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: underline;
  color: #EF8A84;
  font-weight: 800;
  padding: 1rem;
}

p {
  line-height: 1.5em;
  margin: 2rem 0;
  display: block;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #EF8A84;
}

pre {
  margin: 2rem 0;
  padding: 1rem;
  display: inline-block 0;
  color: #7D9D9C;
  word-wrap: word;
  border: 1px solid #EF8A84;
  border-radius: 4px;
}

code {
  background-color: #081012;
  border: 1px solid #EF8A84;
  border-radius: 4px;
  margin: 2rem 0;
  padding: 1rem;
  display: block;
  white-space: pre;
  color: #FFF3EB;
}

blockquote {
  padding: 1rem;
  margin: 2rem;
  border-left: 1px solid #EF8A84;
  border-left-width: 3px;
  margin-left: 0;
}

abbr, acronym, sub, sup {
  color: orange;
  text-decoration: none;
}

em {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

data {
  color: #7D9D9C;
  font-weight: bold;
}

var {
  color: #7D9D9C;
  font-weight: bold;
}

cite {
  color: #7D9D9C;
  font-weight: bold;
}

samp {
  color: #7D9D9C;
  font-weight: bold;
}

dfn {
  color: #7D9D9C;
  font-weight: bold;
}

details p {
  display: block;
  max-width: 100%;
}

output {
  color: #7D9D9C;
  font-weight: bold;
}

kbd {
  margin: 0px 0.1em;
  padding: 0.1em 0.6em;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  color: rgb(51, 51, 51);
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  display: inline-block;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px #ffffff;
  background-color: rgb(247, 247, 247);
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: 0 1px 0 #fff;
}

mark {
  background-color: inherit;
  color: #7D9D9C;
}

table {
  border: 1px solid #EF8A84;
  padding: 1rem;
  border-radius: 4px;
}

tfoot {
  border-top: 1px solid #EF8A84;
  padding: 1rem;
}

tbody {
  padding: 1rem 0;
  margin: 2rem 0;
  border-left: 1px solid #EF8A84;
}

tr {
  padding: 0.5rem;
}

td {
  padding: 0.5rem;
}

th {
  border-bottom: 1px solid #EF8A84;
  padding: 0.5rem;
}

ol, ul {
  list-style: none;
  list-style-type: circle;
  border: 1px solid #EF8A84;
  border-radius: 4px;
  padding: 1rem 2rem;
  margin: 2rem;
  margin-left: 0;
  display: inline-block;
}

dl {
  border: 1px solid #EF8A84;
  border-radius: 4px;
  margin: 2rem 0;
  padding: 1rem;
}

dt {
  margin: 0.6666666667rem 0;
  color: #EF8A84;
}

dd {
  text-indent: 1em;
}

progress {
  display: block;
  margin: 2rem 0;
}

meter {
  display: block;
}

* {
  color: #081012;
  box-sizing: border-box;
  font-family: "PT Mono", "Courier New";
}

html {
  background-color: #FFF3EB;
}

body {
  width: 60%;
  margin: 0 auto;
  padding: 1rem;
}

img {
  border: 0;
  display: block;
  width: 100;
  margin: 2rem 0;
  padding: 1rem 0;
}

div {
  padding: 0;
  margin: 0;
}

hr {
  border: none;
  border-bottom: 1px solid #EF8A84;
  margin: 2rem 0;
}

form {
  border: 1px solid #EF8A84;
  padding: 1rem;
  border-radius: 4px;
}

button, input, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 2rem 0;
  padding: 0.5rem;
  border-radius: 4px;
  display: block;
}

textarea {
  margin-bottom: 2rem;
  border: 1px solid #EF8A84;
  border-width: 3px;
}

label {
  padding: 1rem 0;
  margin: 1px solid #EF8A84;
}

select {
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  border: 1px solid #EF8A84;
  border-radius: 4px;
  margin: 2rem;
  padding: 0.3333333333rem;
}

button, input, input[type=button], input[type=reset], input[type=submit] {
  background-color: inherit;
  border: 3px solid #EF8A84;
}

object {
  display: inline-block;
  padding: 1rem 0;
}

footer {
  margin: 2rem 0;
  padding: 1rem 0;
}

time {
  text-decoration: underline;
  font-weight: bold;
  color: #7D9D9C;
}

fieldset {
  border: none;
  padding: calc(1rem + 3px);
}

/*# sourceMappingURL=a.css.map */
