ol, ul
    list-style: none
    list-style-type: circle
    border: $default-border
    border-radius: $default-border-radius
    padding: $default-padding 2 * $default-padding
    margin: $default-margin
    margin-left: 0
    display: inline-block



dl
    border: $default-border
    border-radius: $default-border-radius
    margin: $default-margin 0
    padding: $default-padding

dt
    margin: calc($default-margin / 3) 0
    color: $link-color


dd
    text-indent: 1em
