table
    border: $default-border
    padding: $default-padding 
    border-radius: $default-border-radius
    width: 100%
tfoot
    border-top: $colored-border 
    padding: $default-padding

tbody
    padding: $default-padding 0
    margin: $default-margin 0
    border-left: $colored-border
tr
    padding: 0.5rem

td
    padding: 0.5rem

th
    border-bottom: $colored-border
    padding: 0.5rem


table 
    counter-reset: rowNumber

table tr:not(:first-child) 
    counter-increment: rowNumber



table[class=count] tr td:first-child::before 
    content: counter(rowNumber)
    min-width: 1em
    margin-right: 2em