
h1, h2, h3, h4, h5, h6
    padding: $default-padding
    text-decoration-line: underline
    margin: $default-margin
    margin-left: 0
    padding-left: 0
    margin-bottom: 0

a
    text-decoration: underline
    color: $color-4
    font-weight: 800
    padding: $default-padding

p
    line-height: 1.5em
    margin: $default-margin 0
    display: block
    padding: $default-padding
    border-radius: $default-border-radius
    border: $default-border


pre
    display: inline-block
    word-wrap: break-word
    width: 100%

code
    background-color: inherit
    padding-left: 0
    border: $default-border
    border-radius: $default-border-radius
    display: inline-block
    color: $color-2
    white-space: pre
    margin-top: $default-margin
    padding: $default-padding

    width: 100%

blockquote
    padding: $default-padding
    margin: $default-margin
    border-left: $colored-border
    border-left-width: 3px
    margin-left: 0

abbr, acronym
    color: $color-4

sub, sup
    color: $color-2
    text-decoration: none
    font-weight: bold

em
    font-weight: bold

strong
    font-weight: bold

data
    color: $color-4
    font-weight: bold

var
    color: $color-4
    font-weight: bold

cite
    color: $color-4
    font-weight: bold

samp
    color: $color-4
    font-weight: bold

dfn
    color: $color-4
    font-weight: bold

details p
    display: block
    max-width: 100%

output
    color: $color-4
    font-weight: bold

kbd
    margin: 0 0.05em
    padding: 0.05em 0.6em
    margin-left: 0.05em
    margin-right: 0.05em
    border-radius: 3px
    border: 1px solid black
    color: $color-2
    line-height: 1.4

mark
    background-color: inherit
    color: $color-4
